* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* p{
  font-family: "Nunito", sans-serif;
}
.top_head{
  display: flex;
}
.top_head button{
  border: transparent;
  height: 30px;
  width: 30px;  
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  background-color: transparent;
  text-align: center;
  justify-content: center;
}
.top_head button:hover{
  border: 1px solid #4de1c1;
}

/* Left box styling */
#left hr {
  margin: 15px 0px;
  width: 50vw;
}

#container {
  display: flex;
}

#left {
  margin: 5vh;
  width: 55vw;
  height: 80vh;
  /* border: 2px solid red; */
}
.item {
  display: flex;
  /* border: 2px solid red; */
  margin: 30px;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.item .food_image {
  /* border: 2px solid blue; */
  width: 100px;
  height: 80px;
  margin: 5px;
}
.item img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
}
.item .food_name {
  height: 4em;
  width: 14em;
  margin: 15px;
}
.item .food_name h4 {
  margin-bottom: 0.7em;
}
.item .price h4{
  margin-right: 20px;
}
/* .item button{
  border: transparent;
  background-color: transparent;
} */
.item button:hover{
  border-color:#4de1c1;
}
 .item button{
  /* background-color: transparent; */
  border-color: transparent;
  background-color: transparent;
} 

.price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item .price img {
  width: 20px;
  height: 20px;
}
.item .price {
  width: 14rem;
  height: 4rem;
  margin: 15px 0px;
}

/* Right Box Styling */
#right {
  margin: 5vh 5vw;
  width: 35vw;
  height: 96vh;
  /* border: 2px solid green; */
  background-color: #565abb;
  border-radius: 14px;
  color: white;
}

#right h2 {
  margin: 6px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 6px;
}

.card img {
  height: 3.3rem;
  width: 3.3rem;
  margin: 6px;
  border-radius: 10px;
}
.card h2 {
  font-family: "Nunito", sans-serif;
  color: white;
  padding: 10px;
}

.all_cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.all_cards ul :nth-child(5) img{
  padding: 8px;
}
.all_cards ul :nth-child(7) a{
  text-decoration: none;
  
  position: absolute;
  margin-top: 18px;
  margin-left: 5px;
  color: white;
}
.all_cards img {
  width: 82px;
  height: 60px;
}

.all_cards ul {
  display: flex;
  list-style: none;
}

.all_cards ul li {
  border-radius: 10px;
  background-color: #9799ce;
  text-decoration: none;
  width: 80px;
  height: 60px;
  margin: 0px 0.8em;
}
.all_cards ul li:nth-child(4) a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
form {
  margin-left: 10px;
}
form input {
  width: 30vw;
  height: 6vh;
  margin-bottom: 20px;
  border-radius: 9px;
  background-color: #6268c6;
  margin-top: 8px;
  border: transparent;
}
.all_input {
  display: flex;
  gap: 20px;
}
.input_group {
  display: flex;
  flex-direction: column;
}
.all_input input {
  width: 14.4vw;
}

input {
  text-indent: 20px;
  color: white;
}
input::placeholder {
  color: rgb(206, 202, 202);
}
.amount {
  display: flex;
  justify-content: space-between;
}
.amount p {
  margin: 3px 20px;
}
.checkout button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  margin: 15px 20px;
  background-color: #4de1c1;
  color: white;
}
.checkout span {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.checkout .check{
  margin-left: 60px;
  margin-right: 20px;
}
.total{
  margin-top: 10px;
}
#right hr{
  opacity: 0.1;
  color: rgb(82, 81, 81);
  width: 30vw;
  margin: 0px 20px;
}
